@page "/posts"
@inject IPostService _postService

<PageTitle>Posts</PageTitle>

<h1>Post List</h1>

<a href="/posts/create" class="btn btn-primary">
    <span class="oi oi-plus"></span>
    Create New Post
</a>

<br />
<br />
<br />

@if (postList == null || postList.Count < 1)
{
    <h2>There are no posts.</h2> 
}
else
{
    <table class="table table-responsive">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Description</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var post in postList)
            {
                <tr>
                    <td>@post.PostId</td>
                    <td>@post.Title</td>
                    <td>@post.Description</td>
                    <td>
                        <a href="post/view/@post.PostId" class="btn btn-primary">
                            <span class="oi oi-book"></span>
                        </a>
                        <a href="/post/edit/@post.PostId" class="btn btn-warning">
                            <span class="oi oi-pencil"></span>
                        </a>
                        <a href="/post/delete/@post.PostId" class="btn btn-danger">
                            <span class="oi oi-trash"></span>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private IList<PostDto>? postList;

    protected async override Task OnInitializedAsync()
    {
        var response = await _postService.GetAllPostsAsync<ResponseDto>();
        if (response != null && response.IsSuccess)
        {
            postList = JsonConvert.DeserializeObject<IList<PostDto>>(response.Result.ToString());
        }
    }
}